TELEGRAM_BOT=""
export TOKEN_TELEGRAM=$TELEGRAM_BOT
export POLLING_INTERVAL=60
export HISTORY_INTERVAL=125
export GET_LAB_STATE_ENDPOINT=
export GET_LAB_HISTORY_ENDPOINT=
export RUST_LOG=trace
export RUST_LOG=info

export TELOXIDE_TOKEN=$TELEGRAM_BOT
cargo run